@import 'tailwindcss';


@theme {
  --color-primary: #162A41;
  --color-bghero: #444444;
  --color-bg01: #f8f8f8;
  --color-bg05: #455463;
  --color-inputbg: #162A41;
  --color-cPara: #333333;
  --color-secondary: #1c1c1e;
  --color-borderLine: #D3DEE8;

  --spacing-lsp1: 1px;

}

a.active {
  font-weight: bold;
}

img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

@utility container {
  margin-inline: auto;
  padding-inline: 8rem;

  @media (width >= 640px) {
    max-width: 640px;
  }
  @media (width >= 768px) {
    max-width: 768px; 
  }
  @media (width >= 1024px) {
    max-width: 1024px;   
  }
  @media (width >= 1280px) {
    max-width: 1280px;
  }
  @media (width >= 1536px) {
    max-width: 1536px;
  }
}
